/* css for ltie8 */

/* --------------- fonts --------------- */
@font-face {
    font-family: "pfdindisplaypro-reg";
    src: url("../fonts/pfdindisplaypro-reg.eot") format("eot");
}
@font-face {
    font-family: "pfdindisplaypro-bold";
    src: url("../fonts/pfdindisplaypro-bold.eot") format("eot");
}
/* --------------- /fonts --------------- */
