/* css for ltie8 */
/* --------------- fonts --------------- */
@font-face {
    font-family: "helveticaneue";
    src: url("../font/helveticaneue.eot");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */