/* css for ltie8 */
/* --------------- fonts --------------- */
@font-face {
    font-family: "times-new-roman-cyr-regular";
    src: url("../fonts/times-new-roman-cyr-regular.eot");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "impact";
    src: url("../fonts/impact.eot");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */