@font-face {
    font-family: "eurofont_light";
    src: url("../fonts/eurofontlightc.eot");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "eurofont";
    src: url("../fonts/eurofontc.eot");
    font-weight: normal;
    font-style: normal;
}