/* --------------- sub_menu --------------- */
.sub_menu{
    clear: both;
    border-bottom: 1px solid #e8e2dc;
    padding-bottom: 7px;
    margin-bottom: 36px;
}
.sub_menu a{
    color: #ada8a3;
    font-size: 18px;
    font-family: "robotoslab-bold";
    text-decoration: none;
    margin-right: 57px;
    padding-bottom: 3px;
    ransition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
}
.sub_menu a:hover{
    color: #68c03c;
}
.sub_menu a.active{
    color: #68c03c;
    border-bottom: 2px solid #68c03c;
    cursor: default;
}
/* --------------- /sub_menu --------------- */

/* --------------- change_data --------------- */
.change_data label{
    width: 138px;
    margin: 12px 9px 0 0;
    display: inline-block;
    vertical-align: top;
    color: #ada8a3;
    font-size: 13px;
    text-align: right;
}
.change_data input[type="text"],
.change_data input[type="password"],
.change_data input[type="email"]{
    width: 255px;
}
.change_data  .blue_submit{
    margin: 9px 0 0 151px;
}
/* --------------- change_data --------------- */
