/* --------------- step2_adress --------------- */
.step_2_map{
    margin-bottom: 28px;
}
.add_object .step2_adress  .line_container > label{
    width: auto;
    display: block;
    text-align: left;
    margin-bottom: 14px;
}
.step2_adress .input_container{
    width: 816px;
}
.step2_adress .input_container input[type="text"]{
    width: 808px;
}
.step2_adress .nice-select{
    width: 237px;
}
.agreement{
    font-size: 13px;
    width: 400px;
    float: left;
    line-height: 16px;
}
.back_step{
    float: right;
    background: url("../img/arrow4.png") no-repeat 0 4px;
    padding-left: 23px;
    color: #ada8a3;
    margin: 11px 26px 0 0;
    ransition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    ransition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
}
.back_step:hover{
    text-decoration: underline;
    color: #68c03c;
    background: url("../img/arrow5.png") no-repeat 0 4px;
}
.reduction_block{
    border-bottom: 1px solid #e8e2dc;
    padding-bottom: 50px;
    margin-bottom: 30px;
}
/* --------------- /step2_adress --------------- */