@font-face {
    font-family: 'myriad_proregular';
    src: url('MYRIADPROREGULAR.eot');
    src: url('MYRIADPROREGULAR.eot?#iefix') format('embedded-opentype'),
         url('MYRIADPROREGULAR.woff') format('woff'),
         url('MYRIADPROREGULAR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriad_probold';
    src: url('myriadpro-bold-webfont.eot');
    src: url('myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-bold-webfont.woff') format('woff'),
         url('myriadpro-bold-webfont.ttf') format('truetype'),
         url('myriadpro-bold-webfont.svg#myriad_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriad_prolight';
    src: url('myriadpro-light-webfont.eot');
    src: url('myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-light-webfont.woff') format('woff'),
         url('myriadpro-light-webfont.ttf') format('truetype'),
         url('myriadpro-light-webfont.svg#myriad_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriad_prosemibold';
    src: url('myriadpro-semibold-webfont.eot');
    src: url('myriadpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-semibold-webfont.woff') format('woff'),
         url('myriadpro-semibold-webfont.ttf') format('truetype'),
         url('myriadpro-semibold-webfont.svg#myriad_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'MyriadProItalic';
    src: url('myriadpro-it.eot');
    src: url('myriadpro-it.eot') format('embedded-opentype'),
         url('myriadpro-it.woff') format('woff'),
         url('myriadpro-it.ttf') format('truetype'),
         url('myriadpro-it.svg#MyriadProItalic') format('svg');
}

@font-face {
    font-family: 'MyriadProBoldItalic';
    src: url('myriadpro-boldit.eot');
    src: url('myriadpro-boldit.eot') format('embedded-opentype'),
         url('myriadpro-boldit.woff') format('woff'),
         url('myriadpro-boldit.ttf') format('truetype'),
         url('myriadpro-boldit.svg#MyriadProBoldItalic') format('svg');
}




@font-face {

    font-family: 'pt_sans_narrowregular';

    src: url('pt_sans-narrow-web-regular-webfont.eot');

    src: url('pt_sans-narrow-web-regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('pt_sans-narrow-web-regular-webfont.woff') format('woff'),

         url('pt_sans-narrow-web-regular-webfont.ttf') format('truetype'),

         url('pt_sans-narrow-web-regular-webfont.svg#pt_sans_narrowregular') format('svg');

    font-weight: normal;
    font-style: normal;

}