/* --------------- about-us --------------- */
.about-us {
    background: #0ab6c4;
    color: #fff;
    font-family: "lato", sans-serif;
    padding: 77px 0 40px;
}
.about-us p {
    font-size: 16px;
    opacity: .8;
    line-height: 27px;
    margin-bottom: 38px;
}
.about-us h1 {
    font-family: "lato-black", sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 13px;
}
.about-us h1 > span {
    opacity: .4;
}
.about-us .site__btn {
    background: #3bc5d0;
    font-size: 16px;
    min-width: 173px;
    width: auto;
    height: 48px;
    padding: 16px 10px;
    margin-bottom: 10px;
}
/* --------------- /about-us --------------- */

/* --------------- review --------------- */
.review {
    color: #fff;
    font-family: "lato", sans-serif;
    font-size: 16px;
    position: relative;
    padding-top: 11px;
}
.review__description {
    font-size: 18px;
    background: rgba(255,255,255,.2);
    position: relative;
    border-radius: 8px;
    text-align: center;
}
.review__description:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 20px 0 20px;
    border-color: rgba(255,255,255,.2) transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 84px;
}
.review p {
    position: relative;
    padding: 28px 50px 40px;
    line-height: 27px;
    font-style: italic;
}
.review p:before {
    content: '';
    background: url("../img/review.png") no-repeat center;
    width: 25px;
    height: 25px;
    background-size: contain;
    position: absolute;
    top: 14px;
    left: 19px;
}
.review p:after {
    content: '';
    background: url("../img/review.png") no-repeat center;
    width: 25px;
    height: 25px;
    background-size: contain;
    position: absolute;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: 15px;
    right: 13px;
}
.review__name {
    position: relative;
    z-index: 2;
    top: -70px;
    left: -4px;
    display: table;
}
.review__name > div,
.review__name > div:visited {
    display: table-cell;
    vertical-align: top;
    opacity: .4;
    padding: 55px 0 0 21px;
}
.review__name a,
.review__name a:visited {
    color: #fff;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.review__name a:hover {
    color: #000;
}
.review__pic {
    overflow: hidden;
    display: table-cell;
    vertical-align: top;
}
.review__pic > span {
    border: 6px solid #0ab6c4;
    border-radius: 50%;
    width: 109px;
    height: 109px;
    display: block;
}
.review__pic img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.review__pic:hover + div a {
    color: #000;
}
.review__name strong {
    font-weight: 400;
    font-family: "lato-black", sans-serif;
}
/* --------------- /review --------------- */

/* --------------- timeline --------------- */
.timeline {
    font-size: 15px;
    color: #222534;
    padding: 76px 0 116px;
    background: #fafafa;
}
.timeline h2 {
    font-size: 30px;
    font-weight: 400;
    font-family: "lato-light", sans-serif;
    color: #0ab6c4;
    margin-bottom: 2px;
}
.timeline h2 a,
.timeline h2 a:visited {
    color: #0ab6c4;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.timeline h2 a:hover {
    color: #222534;
}
.timeline strong {
    font-size: 20px;
    font-family: "lato-bold", sans-serif;
    font-weight: 400;
    color: #222534;
    display: block;
    margin-bottom: 13px;
}
.timeline p {
    opacity: .6;
    line-height: 20px;
    margin-bottom: 13px;
}
.timeline__line {
    height: 300px;
    overflow: hidden;
    margin-bottom: -132px;
}
.timeline__pic {
    display: block;
    padding: 2px;
    background: url("../img/timeline-border.png") no-repeat center;
    background-size: contain;
    border-radius: 50%;
    margin: 6px auto;
    position: relative;
    width: 208px;
    height: 208px;
}
.timeline__pic > span {
    display: block;
    position: relative;
    z-index: 2;
    padding: 5px;
    background: #fafafa;
    border-radius: 50%;
    overflow: hidden;
}
.timeline__pic:before {
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 2px dashed #0ab6c4;
    position: absolute;
    top: 5px;
    right: -88%;
    -webkit-transform: rotate(-26deg);
    transform: rotate(-26deg);
    z-index: 1;
}
.timeline__line .pull-right .timeline__pic:before {
    right: auto;
    left: -88%;
    -webkit-transform: rotate(26deg);
    transform: rotate(26deg);
}
.timeline__line:first-child .timeline__pic:before {
    display: none;
}
.timeline__pic img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.timeline__pic:hover img {
    opacity: .7;
}
/* --------------- /timeline --------------- */

/* --------------- person --------------- */
.person {
    position: relative;
    overflow: hidden;
    padding: 92px 0 100px;
    font-size: 15px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.person .container {
    position: relative;
    z-index: 2;
}
.person__video {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    bottom: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}
.person__description {
    position: relative;
    background: rgba(37,40,54,.96);
    border-radius: 0 150px 0 0;
    padding: 50px 83px 60px 0;
}
.person .pull-right .person__description {
    border-radius: 150px 0 0 0;
    padding: 50px 0 60px 83px;
}
.person__description:after {
    content: '';
    background: rgba(37,40,54,.96);
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
}
.person .pull-right .person__description:after {
    left: 100%;
    right: auto;
}
.person__description p {
    line-height: 20px;
    margin-bottom: 21px;
}
.person__pic {
    width: 110px;
    height: 110px;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
}
.person__pic img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.person__name {
    font-size: 30px;
    font-family: "lato-light", sans-serif;
    font-weight: 400;
    display: block;
    margin-bottom: 4px;
}
.person__profession {
    font-weight: 400;
    font-family: "lato-medium", sans-serif;
    color: #0ab6c4;
    display: block;
    margin-bottom: 20px;
}
.person .new-social {
    padding-top: 11px;
}
/* --------------- /person --------------- */

/* --------------- new-social --------------- */
.new-social {
    cursor: default;
}
.new-social a {
    display: inline-block;
    vertical-align: top;
    margin-right: 1px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: relative;
    background: rgba(0,0,0,.2);
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}
.new-social a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
}
.new-social a:hover {
    background: rgba(255,255,255,.2);
}
.new-social a.new-social_invert {
    background: rgba(255,255,255,.2);
}
.new-social a.new-social_invert:hover {
    background: rgba(0,0,0,.2);
}
.new-social a.facebook:before {
    background-image: url("../img/new-social1.png");
}
.new-social a.google:before {
    background-image: url("../img/new-social2.png");
}
.new-social a.twitter:before {
    background-image: url("../img/new-social3.png");
}
.new-social a.in:before {
    background-image: url("../img/new-social4.png");
}
.new-social a.mail:before {
    background-image: url("../img/new-social5.png");
}
/* --------------- /new-social --------------- */

/* --------------- quote --------------- */
.quote {
    text-align: center;
    font-size: 18px;
    color: #272937;
    position: relative;
    background: #fff;
    padding: 50px 210px 63px;
}
.quote:before {
    content: '';
    background: url("../img/quote.png") no-repeat center;
    width: 71px;
    height: 68px;
    background-size: contain;
    position: absolute;
    top: 50px;
    left: 127px;
}
.quote:after {
    content: '';
    background: url("../img/quote.png") no-repeat center;
    width: 71px;
    height: 68px;
    background-size: contain;
    position: absolute;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: 56px;
    right: 112px;
}
.quote__title {
    font-size: 30px;
    color: #0ab6c4;
    font-family: "lato-bold", sans-serif;
    font-style: italic;
    display: block;
    margin-bottom: 16px;
}
/* --------------- /quote --------------- */

/* --------------- team-members --------------- */
.team-members {
    background: #fff;
    padding-top: 45px;
}
.team-members h2 {
    text-align: center;
    font-family: "lato-black", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #374a5b;
    margin-bottom: 57px;
}
.team-members h2 > span {
    display: block;
    font-family: "lato-light", sans-serif;
    font-size: 21px;
    color: #3a4c5d;
    text-transform: none;
    padding-top: 10px;
}
.team-members__pagination {
    display: none;
}
.team-members__slider {
    background-image: url("../img/team-members_fon.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}
.team-members__slider-container {
    overflow: hidden;
    min-height: 369px;
}
.team-members__slider .swiper-slide {
    background: none;
    min-width: 100%;
    padding: 0;
    display: table;
    width: 100%;
    min-height: 369px;
}
.team-members__slider .swiper-slide > div {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0;
}
.team-members__slider p {
    font-size: 13px;
    color: #fff;
    line-height: 20px;
    margin-bottom: 23px;
}
.team-members__info {
    display: block;
    max-width: 50%;
    margin: 0 auto;
}
.team-members__pic {
    display: block;
    margin: 0 auto 8px;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.team-members__pic:hover {
    opacity: .7;
}
.team-members__pic img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.team-members__name,
.team-members__name:visited {
    font-size: 15px;
    color: #fff;
    font-family: "lato-heavy", sans-serif;
    display: inline-block;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.team-members__name:hover {
    opacity: .7;
    color: #fff;
}
.team-members__profession {
    font-style: italic;
    font-size: 12px;
    color: #0ab6c0;
    display: block;
    padding: 3px 0 11px;
}
.team-members__next,
.team-members__prev {
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 24px;
    background: url("../img/arrows-slider.png") no-repeat left top;
    background-size: 200% 100%;
    left: 14px;
    top: 50%;
    margin: -16px 0 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    cursor: pointer;
}
.team-members__next:hover,
.team-members__prev:hover{
    opacity: .7;
}
.team-members__next{
    left: auto;
    right: 14px;
    background-position: right top !important;
}
.team-members__preview {
    background: #fff;
    padding-bottom: 50px;
    position: relative;
}
.team-members__preview:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    z-index: 2;
}
.team-members__preview .team-members__pic {
    display: inline-block;
    vertical-align: middle;
    width: 52px;
    height: 52px;
    position: relative;
    overflow: hidden;
}
.team-members__preview .team-members__pic:before {
    content: '';
    background: #0ab6c4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    opacity: 0;
}
.team-members__preview .team-members__info-wrap:hover .team-members__pic:before,
.team-members__preview .team-members__info-wrap.active .team-members__pic:before {
    opacity: .5;
}
.team-members__preview .team-members__pic:hover {
    opacity: 1;
}
.team-members__preview .team-members__pic:after {
    content: '';
    background: url("../img/plus.png") no-repeat center;
    background-size: contain;
    width: 15px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -7.5px;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    opacity: 0;
}
.team-members__preview .team-members__info-wrap:hover .team-members__pic:after,
.team-members__preview .team-members__info-wrap.active .team-members__pic:after {
    opacity: 1;
}
.team-members__preview .team-members__name {
    color: #374a5b;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
}
.team-members__preview .team-members__profession {
    font-size: 10px;
}
.team-members__preview .team-members__info-wrap {
    margin-bottom: 10px;
}
/* --------------- /team-members --------------- */

/* --------------- careers --------------- */
.careers {
    background: #0ab6c4;
    padding: 34px 0;
    color: #fff;
    font-size: 15px;
}
.careers h2 {
    font-size: 22px;
    font-family: "lato-black", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
    padding-left: 47px;
    position: relative;
}
.careers h2:before {
    content: '';
    background: url("../img/careers-icon.png") no-repeat center;
    width: 21px;
    height: 20px;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 18px;
}
.careers__wrap {
    background: #3bc5d0;
}
.careers__item {
    border-top: 1px solid #0bb6c2;
}
.careers__item:first-child {
    border-top-color: transparent;
}
.careers__title {
    font-family: "lato-bold", sans-serif;
    position: relative;
    padding: 12px 40px 12px 55px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    height: 53px;
    display: table;
    width: 100%;
}
.careers__title:hover {
    background: #41cdd8;
}
.careers__title:before {
    content: '';
    width: 16px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 20px;
    background: #0bb6c2;
}
.careers__title:after {
    content: '';
    width: 1px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 28px;
    margin-top: -8px;
    background: #0bb6c2;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.careers__title.active:after {
    opacity: 0;
}
.careers__title span {
    font-size: 16px;
    opacity: 1;
    padding-right: 17px;
    font-family: "lato-heavy", sans-serif;
}
.careers__title > div {
    color: #fff;
    font-size: 12px;
    width: 50%;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}
.careers__title > div:first-child {
    text-align: left;
    opacity: .6;
    font-size: 12px;
    color: #3b4e5e;
}
.careers__title .careers__btn {
    margin-left: 20px;
}
.careers__title address {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    line-height: normal;
    margin: 0;
}
.careers__title strong {
    font-weight: 400;
    font-family: "lato-bold", sans-serif;
    border-right: 1px solid #fff;
    padding: 0 10px;
    margin-right: 10px;
}
.careers__description {
    padding: 0 55px 26px;
    position: relative;
}
.careers__description p {
    margin-bottom: 22px;
    line-height: 22px;
    opacity: .6;
    padding-right: 136px;
}
.careers__share {
    color: #fff;
    font-size: 10px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    text-transform: uppercase;
}
.careers__share dt,
.careers__share dd {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}
.careers__share .new-social a {
    margin: 0 2px 0 3px;
}
.careers__btn,
.careers__btn:visited {
    color: #fff;
    font-family: "lato-bold", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px 10px;
    text-align: center;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: .4;
    -webkit-transition: opacity .3s ease, color .3s ease, background .3s ease;
    transition: opacity .3s ease, color .3s ease, background .3s ease;
}
.careers__btn:hover,
.careers__title:hover .careers__btn {
    opacity: 1;
    color: #fff;
}
.careers__title.active .careers__btn {
    background: #fff;
    color: #3bc5d0;
    opacity: 1;
}
/* --------------- /careers --------------- */

@media (max-width: 480px){

    /* --------------- team-members --------------- */
    .team-members__preview .team-members__pic {
        display: block;
    }
    .team-members__preview .team-members__name {
        display: block;
        text-align: center;
    }
    /* --------------- /team-members --------------- */

    /* --------------- review --------------- */
    .review {

     }
    /* --------------- /review --------------- */

}

@media (max-width: 767px){

    /* --------------- about-us --------------- */
    .about-us {
        padding: 40px 0 0;
     }
    /* --------------- /about-us --------------- */

    /* --------------- timeline --------------- */
    .timeline {
        padding: 30px 0 0;
    }
    /* --------------- /timeline --------------- */

    /* --------------- person --------------- */
    .person__video {
        display: none;
    }
    .person__description {
        position: relative;
        border-radius: 0 50px 0 0;
        padding: 20px 23px 20px 0;
    }
    .person .pull-right .person__description {
        border-radius: 50px 0 0 0;
        padding: 20px 0 20px 23px;
    }
    /* --------------- /person --------------- */

    /* --------------- careers --------------- */
    .careers__title {
        height: auto;
        display: block;
        padding: 6px 5px 5px 25px;
    }
    .careers__title > div {
        width: 100%;
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }
    .careers__title .careers__btn {
        display: block;
        margin-left: 0;
    }
    .careers__title strong {
        padding-left: 0;
    }
    .careers__title address {
        margin-bottom: 5px;
    }
    .careers__description p {
        padding-right: 0;
    }
    .careers__title:before {
        width: 10px;
        top: 50%;
        left: 5px;
    }
    .careers__title:after {
        height: 10px;
        left: 9px;
        margin-top: -5px;
    }
    .careers__description {
        padding: 0 5px 26px 25px;
        font-size: 14px;
    }
    /* --------------- /careers --------------- */

}

@media (max-width: 991px){

    /* --------------- quote --------------- */
    .quote {
        font-size: 16px;
        padding: 40px 60px;
    }
    .quote:before {
        left: 20px;
        top: 50%;
        margin-top: -15px;
        width: 30px;
        height: 30px;
    }
    .quote:after {
        right: 20px;
        top: 50%;
        bottom: auto;
        margin-top: -15px;
        width: 30px;
        height: 30px;
    }
    .quote__title {
        font-size: 20px;
    }
    /* --------------- /quote --------------- */

    /* --------------- timeline__pic --------------- */
    .timeline__pic {
        display: none;
    }
    .timeline__line {
        height: auto;
        margin-bottom: 30px;
    }
    /* --------------- /timeline__pic --------------- */
}
