/* css for ltie8 */
/* --------------- fonts --------------- */
@font-face {
    font-family: "pfdintextcondpro-medium";
    src: url("../fonts/pfdintextcondpro-medium.eot");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */